*
{
    margin: 0;
    font-family: sans-serif;
}
 
.d1
{
    height: 800px;
    width: 100%;
 background-image: url(./img/telegram-cloud-photo-size-2-5283001111038073384-y.jpg);
 background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.d2
{
    color: white;
    align-items: center;
    display: flex;
    gap: 350px;
}
.d3
{
    margin-top: 150px;
    color: black;
    background-color: white;
    height:550px;
    width: 300px;
    border-radius: 15px;
}
label
{
    margin-left: 20px;
    
}
input
{
    width: 250px;
    height: 40px;
    margin-left: 20px;
}



@media (max-width: 510px) 
{
    .d1
    {
        display: none;
    }
}